html {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	background: #58a4d7;
	color: white;
	font-variant: small-caps;
	text-transform: lowercase;
	text-align: left;
	
}

body { 
font-size: .5em;

}

input {
	padding: 5px;
	background: #58a4d7;
	border: 2px solid white;
}

input[type="text"] {
	width: 100%;
	display: block;
}


label {
	margin: 5px;
}


::-webkit-input-placeholder {
	color: #256897;
	font-style: italic;
}

::-moz-placeholder {
	color: #256897;
	font-style: italic;
}

:-ms-input-placeholder {
	color: #256897;
	font-style: italic;
}

input:-moz-placeholder {
	color: #256897;
	font-style: italic;
}

select {
	background: #58a4d7;
	color: white;
	border: 2px darkgrey;
	width: 100%;
	padding: 5px;
}

textarea {
	background: #58a4d7;
	width: 100%;
	border: 2px solid white;
	padding: 5px;
}


fieldset {
	border: 0;
}

ul {
	list-style-type: none;

}


.q {
	
	margin-top: 10px;
	margin-bottom: 10px;

}

#send {
	background: #256897;
	color: white;
	border-radius: 10px;
	border: 5px;
	height: 40px;
	width: 60px;
	font-size: 20px;
	font-family: 'Lato', sans-serif;

}

@media screen and (min-width: 600px) {
	.column-1 {
		float: left;
		width: 50%;
	}

	.column-2 {
		float: left;
		width: 50%;
		text-align: center;

	}

	.column-3 {
		display: block;
		width: 100%;
		text-align: left;

	}

	.cf {
		content: '';
		clear: both;
	}
}

@media screen and (min-width: 800px) {
	.column-1 {
		width: 33.333%;
	}

	.column-2 {
		width: 33.333%;

	}

	.column-3 {
		clear: none;
		float: left;
		width: 33.333%;
	
	}


}